name: 'Clean Up Stale PR Status Checks'

on:
  schedule:
    - cron: '5 0 * * *' # Run every day at 00:05 UTC
  workflow_dispatch: # Allow manual trigger for testing

permissions:
  actions: write
  checks: read
  contents: read
  pull-requests: write

defaults:
  run:
    shell: pwsh

jobs:
  CleanUpStatusChecks:
    runs-on: ubuntu-latest
    name: Clean Up Stale PR Status Checks
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Clean Up Stale PR Status Checks
        uses: ./.github/actions/CleanUpStalePRChecks
        with:
          token: ${{ github.token }}
