name: MSDO

on:
  push:
    branches: [ "main", "releases/*" ]
  pull_request:
    branches: [ "main", "releases/*" ]

permissions: read-all

jobs:
  MSDO:
    name: Run Microsoft Security DevOps Analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for federation to Defender for DevOps
      security-events: write # This is required to upload SARIF files
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Run Credential Scanning
        uses: microsoft/security-devops-action@cc007d020261b84193ccd49fa298eb8ba2408893 # v1.11.0
        id: credscan
        with:
          policy: Microsoft
          tools: credscan

      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@294a9d92911152fe08befb9ec03e240add280cb3 # v3.26.8
        with:
          sarif_file: ${{ steps.credscan.outputs.sarifFile }}
