name: MSDO

on:
  push:
    branches: [ "main", "releases/*" ]
  pull_request:
    branches: [ "main", "releases/*" ]

permissions: read-all

jobs:
  MSDO:
    name: Run Microsoft Security DevOps Analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for federation to Defender for DevOps
      security-events: write # This is required to upload SARIF files
    steps:
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Run Credential Scanning
        uses: microsoft/security-devops-action@cc007d020261b84193ccd49fa298eb8ba2408893 # v1.11.0
        id: credscan
        with:
          policy: Microsoft
          tools: credscan

      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@6db8d6351fd0be61f9ed8ebd12ccd35dcec51fea # v3.26.11
        with:
          sarif_file: ${{ steps.credscan.outputs.sarifFile }}
