name: MSDO

on:
  push:
    branches: [ "main", "releases/*" ]
  pull_request:
    branches: [ "main", "releases/*" ]

permissions: read-all

jobs:
  MSDO:
    name: Run Microsoft Security DevOps Analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for federation to Defender for DevOps
      security-events: write # This is required to upload SARIF files
    steps:
      - name: Checkout repository
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

      - name: Run Credential Scanning
        uses: microsoft/security-devops-action@7e3060ae1e6a9347dd7de6b28195099f39852fe2 # v1.10.0
        id: credscan
        with:
          policy: Microsoft
          tools: credscan

      - name: Upload results to Security tab
        uses: github/codeql-action/upload-sarif@f079b8493333aace61c81488f8bd40919487bd9f # v3.25.7
        with:
          sarif_file: ${{ steps.credscan.outputs.sarifFile }}
