name: Update Package Versions

on:
  workflow_dispatch:
  schedule:
    - cron: "55 03 * * 2" # Run at 03:55 UTC on Tuesday

defaults:
  run:
    shell: powershell

permissions: read-all

jobs:
  GetBranches:
    name: Get Official Branches
    runs-on: ubuntu-latest
    outputs:
      UpdateBranches: ${{ steps.OfficialBranches.outputs.OfficialBranches }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Official Branches
        id: OfficialBranches
        uses: microsoft/BCApps/.github/actions/GetOfficialBranches@mazhelez/restructure-automations

  UpdatePackageVersions:
    name: "[${{ matrix.branch }}] Update Package Versions"
    permissions:
      contents: write
    runs-on: windows-latest
    environment: Official-Build
    needs: GetBranches
    strategy:
      matrix:
        branch: ${{ fromJson(needs.GetBranches.outputs.UpdateBranches) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - name: Update Package Versions
        env:
          GH_TOKEN: ${{ secrets.GHTOKENWORKFLOW }}
        uses: microsoft/BCApps/.github/actions/RunAutomation@mazhelez/restructure-automations
        with:
          automations: 'UpdateAppBaselines,UpdateAppTranslations'
          targetBranch: ${{ matrix.branch }}