name: Update Package Versions

on:
  workflow_dispatch:
  schedule:
    - cron: "55 03 * * 2" # Run at 03:55 UTC on Tuesday

defaults:
  run:
    shell: powershell

permissions: read-all

jobs:
  GetBranches:
    name: Get Official Branches
    if: github.repository_owner == 'microsoft'
    runs-on: ubuntu-latest
    outputs:
      updateBranches: ${{ steps.getOfficialBranches.outputs.branchesJson }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Get Official Branches
        id: getOfficialBranches
        uses: microsoft/BCApps/.github/actions/GetGitBranches@main
        with:
          include: "['main', 'releases/*']"

  UpdatePackageVersions:
    name: "[${{ matrix.branch }}] Update Package Versions"
    if: github.repository_owner == 'microsoft'
    permissions:
      contents: write
    runs-on: windows-latest
    environment: Official-Build
    needs: GetBranches
    strategy:
      matrix:
        branch: ${{ fromJson(needs.GetBranches.outputs.updateBranches) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ matrix.branch }}

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Update Package Versions
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        uses: microsoft/BCApps/.github/actions/RunAutomation@main
        with:
          automations: UpdateAppBaselines,UpdateAppTranslations
          targetBranch: ${{ matrix.branch }}