name: Update Package Versions

on:
  workflow_dispatch:
  schedule:
    - cron: "55 03 * * 2" # Run at 03:55 UTC on Tuesday

defaults:
  run:
    shell: powershell

permissions: read-all

jobs:
  GetBranches:
    name: Get Official Branches
    if: github.repository_owner == 'microsoft'
    runs-on: ubuntu-latest
    outputs:
      updateBranches: ${{ steps.getOfficialBranches.outputs.branchesJson }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Get Official Branches
        id: getOfficialBranches
        uses: microsoft/BCApps/.github/actions/GetGitBranches@main
        with:
          include: "['main', 'releases/*']"

  UpdatePackageVersions:
    name: "[${{ matrix.branch }}] Update Package Versions"
    if: github.repository_owner == 'microsoft'
    permissions:
      contents: write
    runs-on: windows-latest
    environment: Official-Build
    needs: GetBranches
    strategy:
      matrix:
        branch: ${{ fromJson(needs.GetBranches.outputs.updateBranches) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ matrix.branch }}

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Update Package Versions
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        uses: microsoft/BCApps/.github/actions/RunAutomation@main
        with:
          automations: UpdateAppBaselines,UpdateAppTranslations
          targetBranch: ${{ matrix.branch }}