name: Update AL-Go On Official Branches

on:
  workflow_dispatch:
  schedule:
    - cron: "55 08 * * 3" # Run at 08:55 UTC on Wednesday

permissions: read-all

jobs:
  GetBranches:
    name: Get Official Branches
    if: github.repository_owner == 'microsoft'
    runs-on: ubuntu-latest
    outputs:
      updateBranches: ${{ steps.getOfficialBranches.outputs.branchesJson }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Get Official Branches
        id: getOfficialBranches
        uses: microsoft/BCApps/.github/actions/GetGitBranches@main
        with:
          include: "['main', 'releases/*']"

  UpdateALGo:
    name: "[${{ matrix.branch }}] Update AL-Go"
    if: github.repository_owner == 'microsoft'
    runs-on: ubuntu-latest
    environment: Official-Build
    needs: GetBranches
    strategy:
      matrix:
        branch: ${{ fromJson(needs.GetBranches.outputs.updateBranches) }}
      fail-fast: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2.10.4
        with:
          egress-policy: audit

      - name: Update AL-Go System Files
        env:
          GH_TOKEN: ${{ secrets.GHTOKENWORKFLOW }}
        uses: microsoft/BCApps/.github/actions/RunAutomation@main
        with:
          automations: UpdateALGo
          targetBranch: ${{ matrix.branch }}
