name: Update AL-Go Projects

on:
  workflow_dispatch:
  schedule:
    - cron: '55 5 * * *' # Daily at 05:55 UTC

defaults:
  run:
    shell: powershell

permissions: read-all

jobs:
  GetBranches:
    name: Get Official Branches
    if: github.repository_owner == 'microsoft'
    runs-on: ubuntu-latest
    outputs:
      updateBranches: ${{ steps.getOfficialBranches.outputs.branchesJson }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - name: Get Official Branches
        id: getOfficialBranches
        uses: microsoft/BCApps/.github/actions/GetGitBranches@main
        with:
          include: "['main', 'releases/*']"

  UpdateALGoProjects:
    name: "[${{ matrix.branch }}] Update AL-Go projects"
    if: github.repository_owner == 'microsoft'
    permissions:
      contents: write
    environment: Official-Build
    runs-on: windows-latest
    needs: GetBranches
    strategy:
      matrix:
        branch: ${{ fromJson(needs.GetBranches.outputs.updateBranches) }}
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ matrix.branch }}

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Update AL-Go Project Dependencies
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        uses: microsoft/BCApps/.github/actions/RunAutomation@main
        with:
          automations: UpdateUseProjectDependencies
          targetBranch: ${{ matrix.branch }}
